*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(50, 66, 77);
    text-align: center;
    color:white;
    box-sizing: border-box;
}

h1{
    text-align: center;
}


h3{
    margin-top: 5px;
    color: skyblue;
}

.game{
    display: grid;
    grid-template-areas: "password password"
                         "options letters";
    grid-template-columns: 50% 50%;  
    grid-template-rows: 100px 275px;
    font-family: 'Inconsolata';
    font-weight: 700;
}

.password{
    grid-area: password;
    display: flex;
    justify-content: center;
}

.letters{
    grid-area: letters;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
    margin: auto;
    margin-top: 10px;

}

.prices{
    grid-area: options;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-gap: 10px;
    margin: 10px auto auto 20px;
    
}
.price{
    height: 35px;
    padding: auto;
    font-size: 2rem;
    font-family: 'Inconsolata';
    font-weight: 500;
    border:3px solid  white;
    border-radius: 5px;
}

.goodPrice{
    background-color: rgb(4, 231, 80);
    border:3px solid  green;
    color: rgb(192, 255, 17);
}
.badPrice{
    background-color: rgb(170, 0, 60);
    border:3px solid  red;
    color: red;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    margin: 10px auto auto 20px;
}

button{
    width: 100px;
    height: 25px;
    font-size: 1rem;
    font-family: 'Inconsolata';
    font-weight: 700;
    background-color: greenyellow;
    border: 2px solid  green;
    color: black;
    border-radius: 5px;
    margin:auto;
}

button:hover{
    background-color: green;
    border:3px solid  white;
    color: white;
    cursor: pointer;
}

.reset{
    background-color: white;
    border: 2px solid  gray;
}


.hiddenLetter{  
    background: #fff;
    width: 1.5rem;
    font-size: 2rem;
    margin: 2px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid gray;
}

.hiddenSpace{  
    width: 1.5rem;
    font-size: 2.5rem;
    margin: 2px;
    margin-top: auto;
    margin-bottom: auto;
}

.activeLetter{
    width: 35px;
    height: 35px;
    padding: auto;
    font-size: 2rem;
    font-family: 'Inconsolata';
    font-weight: 700;
    border:3px solid  white;
    border-radius: 5px;
    cursor: pointer;
}

.deactiveLetter{
    border:3px solid  gray;
    color:gray;
}

.showLetter{
    color: black;
}

.messages{
    margin-left:auto;
    color: red;

}